/* Core Styles */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* Good */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif; 
    /* font-family: 'Poppins', sans-serif; */
    color: rgb(63, 63, 63);
    margin: 0;
}
.japanese {
    font-family:  "ＭＳ 明朝",serif;
    /* font-weight: lighter; */
}
ul {
    list-style: none;
}
a {
    color: rgb(63, 63, 63);
}

header {
    height: 3rem;
    /* border-bottom: 1px solid grey; */
    box-shadow: 1px 0 8px rgb(211, 211, 211);
    padding: auto 3rem;
    z-index: 1;
    position: fixed;
    width: 100%;
    background: #fff;
    /* opacity: 0.9; */
}

.header-wrap {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}
.header-wrap li {
    float: left;

    margin: 0 1rem;
}
li a {
    text-decoration: none;
    list-style: none;
    /* color: color: rgb(63, 63, 63); */
}
li a:hover {
    opacity: 0.6;
}
.content-wrap {
    padding: 0 4rem 4rem 4rem;
}

#showcase {
    height: 250px;
}
#showcase .bg-image {
    position: absolute;
    /* background: #333 url('https://static.pexels.com/photos/248515/pexels-photo-248515.png'); */
    background: url('https://live.staticflickr.com/65535/48611462983_f55936de86_h.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    z-index: -1;
    /* opacity: 0.4; */
}
#showcase .content-wrap {
    text-align: right;
    color: #fff;
}
#showcase h1 {
    padding-top: 100px;
    margin: 0;
}

.section-title {
    float: left;
    margin-top: 8rem;
    font-size: 36px;
}
.content-wrap {
    display: flex;
    flex-direction: column;
}

/* Section-a */
#section-a {
    /* border: 1px solid black; */
    text-align: center;
}

#section-a .section-title {
    margin-bottom: 0;
}
/* might be better to integrate with other section title */

.profile-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
}
.profile-img {
    width: 80%;
    margin: 3rem auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(13, 13, 13);
}

.self-introduction {
    padding: 3rem;
    text-align: left;
}
.my-name {
    font-size: 24px;
    margin: 0 0 10px 12px;
}
.self-intro-main {
    margin: 0;
}

/* Section-b */
#section-b {
    height: auto; /* tempo */
    background: rgb(63, 63, 63);
    color: #fff;
}
#section-b .section-title {
    margin-bottom: 0;
}

.projects-wrap ul {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.project {
    padding: 2rem;
}
.project h3 {
    margin: 1.5rem;
    font-size: 24px;
}
.project img {
    display: block;
    width: 300px;
    height: 190px;
    margin: 0 auto;
    /* border: 1px solid rgb(236, 236, 236); */
    box-shadow: 0 2px 9px black;
}
.project img:hover {
    opacity: 0.6;
    /* width: 320px;
    height: 210px; */
    /* animation-name: fadeIn;
    animation-duration: 1s; */
}
.project-description {
    text-align: left;
    margin: 3rem 0;
}
.project a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

/* Section-c */
#section-c {
    height: auto; /* tempo */
}
.skills-wrap {
    /* display: grid; */
    /* grid-template-columns: 100%; */
    /* margin: 3rem; */
    background: url("https://live.staticflickr.com/65535/48611905347_a3df4db956_h.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* vertical-align: center; */
}
.skills-content p {
    font-family: Monaco, "Courier New";
    margin-bottom: 5px;
    padding: 0;
}
.skills-content {
    text-align: left;
    
    margin: auto;
}
.indent {
    margin-left: 12px;
}
.skill-img {
    margin: auto;
    width: 80%;
}


footer {
    /* height: 300px; tempo */
    background: #1B5F98; 
    text-align: center;
}
.footer-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.footer-wrap p {
    margin: 3rem auto .5rem;
    color: white;
    /* font-size: 10%; */
}




/* Media Queries */

@media(max-width: 720px) {
    p {
        font-size: 14px;
    }
    .section-title {
        float: none;
    }
    .content-wrap {
        /* padding: 0 2rem; */
    }
    .header-right {
        display: none;
    }
    .profile-wrap {
        display: flex;
        flex-direction: column;
    }
    #section-b {
        text-align: center;
    }
    .projects-wrap ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .project {
        padding: 1rem;
    }
    .project img {
        display: block;
        width: 55vw;
        height: auto;
        margin: 0 auto;
        /* border: 1px solid rgb(236, 236, 236); */
        /* box-shadow: 0 2px 9px black; */
    }
    .skills-content p {
        font-size: 2vw;
    }
}
@media(max-width: 480px) {
    .content-wrap {
        padding: 0 10% 10% 10%;
    }
    .section-title {
        margin-top: 1rem;
    }
    .profile-img {
        margin: 1rem 0;
    }
    /* .my-name {
        margin: 0 auto;
    } */
    .name-romaji {
        font-size: 16px;
    }
    .self-introduction {
        padding: 1rem;
    }
    .project {
        padding: 1rem 0;
    }
    .project h3 {
        margin: 1rem;
    }
    .project-description {
        margin: 1rem 0;
    }
    .skills-wrap {
        height: 230px;
    }
    .skills-wrap .section-title {
        margin-bottom: 1rem;
    }
    #section-c {
        text-align: center;
    }
    footer p {
        font-size: 10px;
    }
}




/* 
.test {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.anime-test:hover {
    animation-name: fadeIn;
    animation-duration: 2s;
    
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.anime-sample {
    animation-name: change-font-size;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.pause-animation {
    animation-play-state: paused;
}
.play-animation {
    animation-play-state: running;
}

.why {
    animation-name: fadeIn;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes change-font-size {
    0% {
        font-size: 20px;
    }
    100% {
        font-size: 50px;
    }
} */
/* 
.sample {
    height: 100%;
    width: 100%;
    
    margin: 0 auto;
    text-align: center;
}
.sample-img {
    height: 70%;
    margin: 3rem auto;
}
.square {
    position: relative;
    top: 0;
    display: inline-block;
    
    width: 100px;
    height: 100px;
    
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  } */

.test {
    font-family: Monaco, "Courier New"
}
.test2 {
    font-family: Lato, Ariel, Tahoma, sans-serif;
}
.test3 {
font-family: "Playfair Display", Arial, Tahoma, sans-serif;
}
#logo {

}

#log path:nth-child(1) {
    stroke-dasharray: 3;
    /* stroke-dasharray: 100; */
    stroke-dashoffset: 100;
}
#log path:nth-child(2) {
    stroke-dasharray: 10px;
    stroke-dashoffset: 3px;
}
#log path:nth-child(3) {
    stroke-dasharray: 10px;
    
}
#log path:nth-child(4) {
    stroke-dasharray: 10px;
    
}
#log path:nth-child(5) {
    stroke-dasharray: 10px;
    
}
#log path:nth-child(6) {
    stroke-dasharray: 10px;
    
}
#log path:nth-child(7) {
    stroke-dasharray: 10px;
    
}
#log path:nth-child(8) {
    stroke-dasharray: 10px;
    
}
